  <!-- LIST -->
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
              
              
                <tr>
                    <td><%= 1%></td>
                    <td><strong><%= name %></strong></td>
                    <td><%= phone %></td>
                    <td><%= salary %></td>
                    <td>
                        
                        <a href="/employees/<%= id %>" class="btn btn-info">
                            Edit
                        </a>
                    </td>
                </tr>
           
        </tbody>
    </table>
    <div class="abc">
        <a href="/logout">Logout</a>
    </div>
</div>
</div>