  <!-- LIST -->
  <% include('partials/header.ejs')%>
  <div class="col-md-6 content-centre">

    <div class="abc">
        Welcome <%= name %>
        <% if(role != 1) {%>
            <a href="/employees/<%=id%>">Profile</a>
        
            <% } else { %>
                <a href="/admin/<%=id%>">Profile</a>

            <% } %>
        </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
              
              <% if(role != 1) {%>
                <tr>
                    <td><%= 1%></td>
                    <td><strong><%= name %></strong></td>
                    <td><%= phone %></td>
                    <td><%= salary %></td>
                    <td>
                        
                        <a href="/employees/<%= id %>" class="btn btn-info">
                            Edit
                        </a>
                    </td>
                </tr>
             <% }else{%>
               <%if(data) {%>
                <% for(i=1;i<data.length;i++){%>
                <tr>
                    <td><%= i %></td>
                    <td><strong><%= data[i].name %></strong></td>
                    <td><%= data[i].phone %></td>
                    <td><%= data[i].salary %></td>
                    <td>
                        
                        <a href="/admin/employee/<%= data[i].id %>" class="btn btn-info">
                            Edit
                        </a>
                    </td>
                </tr>
                <% }%>
                <% }%>


            </tbody>
        </table>
        
        <%}%>

    <div class="abc">
        <a class="lg-1" href="/logout">Logout</a>
    </div>
</div>
<% include('partials/footer.ejs')%>
</div>