<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

    <!-- <script type="text/javascript">
        $(document).ready(function () {

            $("#form").submit(function (event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $('#form').serialize(),
                    dataType: "json",
                    success: function (response) {
                      console.log(response,'dwadwa');
                        alert("a");
                        //console.log(response.Success);
                        $('#form')[0].reset();

                        document.getElementById("check").innerHTML = response.Success;
                        //ADD THIS CODE
                        setTimeout(function () {
                            document.getElementById("check").innerHTML = "";
                        }, 3000);
                        if (response.Success == "Success!") {
                            console.log('dwa');
                            // document.getElementById("aa").click();
                        };
                    },
                    error: function () {
                    }
                })
            });

        });
    </script> -->
</head>

<body>
    
    <div class="col-md-4 col-md-offset-4 mb-1" >
        <div>
            <p>Edit</p>
        </div>
        <div class="form-group">
            <form id="form" method="POST" action="/employees/<%=data._id%>">
                <input type="text" name="name" placeholder="Name" required="" value="<%=data.name%>" class="form-control"><br />
                <input type="phone" name="phone" placeholder="Phone" required="" value="<%=data.phone%>"class="form-control"><br />
                <input type="text" name="salary" placeholder="Salary" required="" value="<%=data.salary%>"class="form-control"><br />
                <input type="text" name="city" placeholder="City" required="" value="<%=data.city%>" class="form-control"><br />
                <!-- <input type="email" name="email" placeholder="E-mail" required="" value="<%=data.name%>" class="form-control"><br /> -->
                <!-- <input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" -->
                    <!-- class="form-control"><br /> -->
                <input type="submit" value="Update" class="btn btn-success">
            </form>
        </div>
        <div class="mssg bg-danger">
            <span id="check"></span>
        </div>
       
    </div>
</body>

</html>